title: Philipp Benner
description: Researcher at <a href="https://www.bam.de">BAM</a>. <a href="https://github.com/pbenner">[Github]</a>, <a href="https://twitter.com/PhilippBenner2">[Twitter]</a>, <a href="https://orcid.org/0000-0002-0912-8137">[ORCID]</a>, <a href= "mailto:philipp.benner@bäm.de">[Email:s/ä/a/]</a>
kramdown:
  input: GFM
  math_engine: mathjax
  syntax_highlighter: rouge
